Repository Anatolych97/anatolych.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
   "*.js": "eslint --cache --fix",
   "*.{scss,css,vue,sass}": "stylelint --fix",
   "*.ts": "eslint --cache --fix",
   "*.json": "eslint --cache --fix",
   "package.json": "sort-package-json"
}

refactor: split html on components
  index.html
  public/old.html
  src/components/GameBoard/GameBoard.tsx
  src/components/GameControls/GameControls.tsx
  src/components/GameHistory/GameHistory.tsx
  src/components/GameOptions/GameOptions.tsx
  src/components/GameResult/GameResult.tsx
Due: none

refactor: split css
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/GameBoard/GameBoard.scss
  src/components/GameBoard/GameBoard.tsx
  src/components/GameControls/GameControls.scss
  src/components/GameHistory/GameHistory.scss
  src/components/GameHistory/GameHistory.tsx
  src/components/GameOptions/GameOptions.scss
  src/components/GameOptions/GameOptions.tsx
  src/components/GameResult/GameResult.scss
  src/components/GameResult/GameResult.tsx
  src/index.css
  src/main.tsx
Due: eslint --cache --fix, stylelint --fix, sort-package-json

feat: generate empty game board
  index.html
  package.json
  pnpm-lock.yaml
  public/old.js
  src/App.tsx
  src/components/GameBoard/GameBoard.scss
  src/components/GameBoard/GameBoard.tsx
  src/components/GameControls/GameControls.tsx
  src/components/GameOptions/GameOptions.tsx
  src/index.css
  src/views/GameBoard/GameBoard.scss
  src/views/GameBoard/GameBoard.tsx
  src/views/GameControls/GameControls.scss
  src/views/GameControls/GameControls.tsx
  src/views/GameHistory/GameHistory.scss
  src/views/GameHistory/GameHistory.tsx
  src/views/GameOptions/GameOptions.scss
  src/views/GameOptions/GameOptions.tsx
  src/views/GameResult/GameResult.scss
  src/views/GameResult/GameResult.tsx
  tailwind.config.ts
Due: eslint --cache --fix, stylelint --fix, sort-package-json

feat: show colored grid
  src/App.tsx
  src/views/GameBoard/GameBoard.tsx
Due: none

feat: show history
  public/old.js
  src/App.tsx
  src/views/GameBoard/GameBoard.tsx
  src/views/GameHistory/GameHistory.scss
  src/views/GameHistory/GameHistory.tsx
Due: eslint --cache --fix, stylelint --fix

build: recursive link between cells
  src/App.tsx
  src/views/GameBoard/GameBoard.tsx
  src/views/GameOptions/GameOptions.tsx
Due: none

feat: non-fixed history
  src/App.scss
  src/App.tsx
  src/views/GameBoard/GameBoard.scss
  src/views/GameHistory/GameHistory.scss
  src/views/GameHistory/GameHistory.tsx
  src/views/GameResult/GameResult.tsx
Due: stylelint --fix

feat: add bottom controls
  src/App.scss
  src/App.tsx
  src/views/GameHistory/GameHistory.tsx
  src/views/GameOptions/GameOptions.tsx
Due: stylelint --fix

fix: handle color group from the start
  public/old.js
  src/App.tsx
Due: eslint --cache --fix
